body{
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
    background-color: #f1eaea;
}
.section{
    background-color: #f0d0ce;
    margin: 20px auto;
    padding: 10px;
    max-width:1000px;
}

#aboutme, #contactme{
 display: flex;
 justify-content: space-around;
 align-items: center;
 
}

#aboutme_picture_placeholder, #project_image_placeholder, #contactme_picture_placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dbb0b2;
    min-width: 100px;
    min-height:100px;
    margin:10px;
    padding:10px;
}

#my_project_grid{
    display: grid;
    justify-content: center;  
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    padding:10px;
}

.project, #aboutme_text, #contactme_text{
    display:flex;
    flex-direction: column;
    background-color: #9a7e8b;
    padding: 10px;
}

#project_text, #contact_details, #aboutme_description{
    background-color: #bcc7c1;
    margin-top: 10px;
    padding:10px;
}
#detail{
    display:flex;
    align-items: center;
}

.material-icons{
    padding-right: 10px;
}

@media (max-width:400px) {
    #aboutme, #contactme{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
       }
    #my_project_grid{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 15px;
        padding:10px;
    }
}

@media (min-width:400px) and (max-width:600px) {
    #aboutme, #contactme{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
       }
    #my_project_grid{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 15px;
        padding:10px;
    }
}